.section-wrapper {
  width: 100%;
  max-width: 96rem;
  margin: 0 auto;
  padding: 1.5rem;
  position: relative;
}

.sort-bar_container {
    justify-content: center;
    justify-self: center;
    align-items: start;
    display: grid;
    height: 4rem;
    column-gap: 2rem;
    grid-template-columns: 1.95fr 1.5fr 1.5fr 1.5fr 3.75fr 3.9fr 1.9fr 3.15fr;
    grid-template-rows: 2fr 2fr;
    padding: 1rem;
    margin-bottom: 18rem;
}

select:has(option[value=""]:checked) {
  color: #888;
}

h2 {
    margin-bottom: .5rem;
    font-size: .8rem;
    font-weight: bold;
    color: #80FF10;
    padding: 0.5rem;
    text-align: left;
}

h3 {
    margin-top: 1rem; 
    margin-left: 1.5rem;  
   
    font-size: .9rem;
    color: white;
}

select, input, button {
    background-color: #595959;
    color: white;
    border: 4px solid #3D3D3D;
    padding: 0.5rem;
    width: 100%;
}

.sort-bar__hidden-header {
    color: transparent;
}

@media (max-width: 1600px) {
   select, input, button {
     font-size: .8rem;
   }
   h2{
    font-size: .75rem;
   }
   h3 {
    margin-left: 1.5rem;  
   }
}

@media (max-width: 1120px) {
    .sort-bar_container {
        column-gap: .5rem;
        padding: .5rem;
        height: 2rem;
        margin-bottom: 16rem;
    }
    button {
      width: 100%;
    }

    h2 {
     font-size: .65rem;
     margin-bottom: 0;
       
    }
    h3 {
     font-size: 1rem;
     margin-top: 2rem;
     margin-left: 1rem;      
    }

    .sort-bar_container select,
    .sort-bar_container input,
    .sort-bar_container button {
      padding: .25rem;
      font-size: .75rem;
      box-sizing: border-box;
      height: 12%;
    }
}