.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 2rem;
}

.header__title {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #80FF10;
    border: 4px solid #3D3D3D;
    background-color: #595959;
}

.header__description {
    font-size: 1.25rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

@media (max-width: 1600px) {
    .header__title {
        font-size: 2rem;
    }
    .header__description {
        font-size: 1.2rem;
        font-weight: 600;
    }
}