@import "tailwindcss";

body {
  font-family: 'Share Tech Mono', monospace;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', serif;
}

.game__platform,
.game__year,
.game__title,
.game__genre,
.game__rating,
.game__rank,
.game__edit,
.game__remove,
.field-wrapper,
.ratings-key__wrapper {
    position: relative;
}

.game__platform::after,
.game__year::after,
.game__title::after,
.game__genre::after,
.game__rating::after,
.game__rank::after,
.game__edit::after,
.game__remove::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 3px
    ),
radial-gradient(ellipse at center, transparent 50%, rgba(0,0,0,0.4) 100%);
}

.field-wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    background:  repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 3px
    ),
radial-gradient(ellipse at center, transparent 50%, rgba(0,0,0,0.4) 100%);
}

.ratings-key__wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    background:  repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 3px
    ),
radial-gradient(ellipse at center, transparent 50%, rgba(0,0,0,0.4) 100%);
}

@media (max-width: 767px) {
    .rotate-prompt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: black;
        color: #80FF10;
        font-family: 'Press Start 2P', monospace;
        font-size: 1rem;
        text-align: center;
    }

    .app-content {
        display: none;
    }
}

@media (min-width: 768px) {
    .rotate-prompt {
        display: none;
    }
}



